{% extends '_layout.html' %}
{% load static %}
{% load bootstrap4 %}

<!-- navigation -->
{% block nav %}
	{% include 'partials/auth_nav.html' %}
{% endblock %}
<!-- /navigation -->


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-0 col-sm-10 col-sm-1">
      <div class="row">
        <div class="col-lg-10 offset-lg-4 col-md-10 offset-md-4 col-sm-12 shadow-sm mt--col bck">
          <i class="la la-lock lock-icon"></i>
          <h4 class="text-center sign-in-h4">Sign Up</h4>
          <form method="POST" novalidate>
            {% bootstrap_form form %}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="btn btn-primary login-btn">Sign Up</button>
          </form>
          <section class="col-lg-12 text-center">
            <p> Get Authenticated with</p>
            <section class="col-lg-12">
             <p class="default-social-icon"><a href="#"><i class="la la-facebook"></i></a></p> 
             <p class="default-social-icon"><a href="#" style="color: #20afc4;"><i class="la la-twitter"></i></a></p>  
             <p class="default-social-icon"><a href="#" style="color: #d61529;"><i class="la la-google"></i></a></p>  
            </section>
          </section>

          <div>
            <p><a href="#">Forgot password?</a></p>
            <p class="float-right">Have an account here? <a href="{% url 'account:login' %}">Sign In</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  	<div class="col-lg-12 text-center">
  		<p class="cpoy-right-text">Copyright &copy inQoire 2020.</p>
      <p class="cpoy-right-text">Built with Python and 🙂 for programming by <a href="https://github.com/kraft99">Mike Edward.</a></p>
  	</div>
  </div>
</div>

{% endblock %}

