{% extends '_layout.html' %}
{% load static %}

<!-- css -->
{% block css %}

.answer-file-resp{
	height: 55vh;
    display: block;
    width: 100%;
    max-width: 100%;
}

.answer-input{
	width: 100%;
    height: 2.5em;
    border-radius: 6px;
    outline: none;
    border: 1px solid #e3dcdc;
    padding: .111em 1em;
    color: #9b9a9a;
    font-size: 16px;
    font-weight: 600;
}

.nav-link .la-search{
	display:none !important;
}

.edit-href{
	font-size: 19px;
    margin: 4px 3px 4px 0;
    color: #9c9c9c;
}

{% endblock %}
<!-- /css -->

<!-- navigation -->
{% block nav %}
	{% include 'partials/_nav.html' %}
{% endblock %}
<!-- /navigation -->


{% block content %}
	<section class="container content-container">
		<section class="row" style="margin-top: 8em;">
			<!-- <section class="col-lg-4 shadow-sm "> -->
				<!-- card 1 -->
				<div class="card col-lg-3 col-md-3 shadow-sm aside-card">
					  {% if user_obj.profile.pic %}
					  <img src="{{user_obj.profile.pic_url}}" class="avatar-aside" alt="...">
					  {% else %}
					  <img src="{% static 'img/avatar.jpg' %}" class="card-img-top avatar-aside" alt="...">
					  {% endif %}
					  <div class="card-body card-body-height card-height-profile text-center">
					    <h5 class="card-title card-title-h5"><a href="{{request.user_obj.url}}">{{ user_obj.full_name }}</a></h5>
					    <h6 class="card-title">
					    	<a href="{{user_obj.url}}">{{user_obj.user_username}}</a>
					    </h6>
					    <!-- Test -->
					    <!-- /Test -->
					    {% if is_auth %}
					     {% ifnotequal request.user user_obj %}
						    <form action="{% url 'connection:connection-switch' %}" method="POST" class="connection-form">
								{% csrf_token %}
								<input type="submit" class="btn btn-outline-primary follow-btn {% if request.user in user_obj.people_user_is_connected_to %}is-connected{% endif %}" value="
								{% if request.user in user_obj.people_user_is_connected_to %}Connected{% else %}Connect{% endif %}" name='follow_btn'/>
								<input type="hidden" name="from_user" value="{{request.user.username}}">
								<input type="hidden" name="to_user" value="{{user_obj.username}}">
							</form>
					     {% endifnotequal %}
					    {% endif %}
					  </div>
					  <ul class="list-group list-group-flush clear-fix">
					    <li class="list-group-item">Contribution{{user_obj.contribs.count|pluralize}}<span class="badge badge-light float-right user-contrib-count">{{user_obj.contribs.count}}</span>
					    </li>
					    <li class="list-group-item">Question{{user_obj.questions.count|pluralize}}<span class="badge badge-light float-right user-question-count">{{user_obj.questions.count}}</span>
					    </li>
					    <li class="list-group-item">Connection{{user_obj.people_connected_to_count|pluralize}}<span class="badge badge-light float-right connect-count">{{user_obj.people_connected_to_count}}</span>
					    </li>
					  </ul>
					  <!-- 	{% ifequal request.user user_obj %}
					  		<section class="col-lg-12">
					  			<a href="{% url 'users:edit-profile' user_obj.username %}" title="edit profile" class="edit-href"><i class="la la-edit"></i></a>
					  		</section>
					  	{% endifequal %} -->
				</div>
				<!-- / card 1 -->
			<!-- </section> -->
			<section class="col-lg-9 col-md-9 shadow-sm right-col-sec">
				<section class="col-lg-12">
				  <section class="row section-box-wrap">
				  	<section class="col-lg-3 col-md-3 section-box count-fig-active">
				  		<p class="count-fig">{{user_obj.people_connected_to_count}}</p>
				  		<span>Connection{{user_obj.people_connected_to_count|pluralize}}</span>
				  	</section>
				  	<section class="col-lg-3 col-md-3 section-box">
				  		<p class="count-fig">{{user_obj.questions.count}}</p>
				  		<span>Question{{user_obj.questions.count|pluralize}} Asked</span>
				  	</section>
				  	<section class="col-lg-3 section-box">
				  		<p class="count-fig">{{user_obj.contribs.count}}</p>
				  		<span>Contribution{{user_obj.contribs.count|pluralize}}</span>
				  	</section>
				  	<section class="col-lg-3 section-box">
				  		<p class="count-fig">{{user_obj.comment_by.count}}</p>
				  		<span>Comment{{user_obj.comment_by.count|pluralize}}</span>
				  	</section>
				  </section>
				</section>

				<!-- question-answer-card sec-->
				<section class="col-lg-12">
					<section class="row">
						  <section class="col-lg-12">
						  	<section class="row">
						  		<section class="col-lg-5">
						  			Left
						  		</section>
						  		<section class="col-lg-7">

						  			Right
						  		</section>
						  	</section>
						  </section>
					</section>
				</section>
				<!-- /question-answer-card sec-->
			</section>
		</section>
	</section>
{% endblock %}
